<header class="w-100">
    <div class="topbar clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-left">
                    <div class="contact_info text-primary">
                        <a href="#">
                            <i class="fa fa-phone fa-rotate-90 mr-2"></i>
                            <span class="text-dark">+91 0000000000</span>
                    </a> | 
                    <a href="#">
                        <i class="fas fa-envelope mr-2"></i>
                        <span class="text-dark">greenechoo@yahoo.com</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 text-right">
                <div class="social_links">
                    <a href="#facebook" target="_blank" title="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#linkedin" target="_blank" title="Linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#twitter" target="_blank" title="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#instagram" target="_blank" title="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<div class="container">
    <div class="col">
        <div class="logo text-center">
            <a class="navbar-brand" href="/">
                <img src="assets/images/logo.jpg" class="img-fluid" alt="Green Echoo Logo" />
            </a>
        </div>
        <nav class="p-0 navbar navbar-expand-lg navbar-light bg-transparent w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0 ">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- Container End -->
</header>