<!-- Main Heading -->
<div class="page_heading bg-primary text-center py-1">
    <h1 class="text-white">About</h1>
</div>

<!-- Page Content -->
<div class="content px-4 py-1">
    <div class="container text">
        <div class="row d-none">
            <div class="col-md-6">
                <img src="assets/images/snow.jpg"  style="border-radius: 15px;" width="400" alt="Image">
                <div class="text d-none">
                    <h5 class="py-2">Our Work</h5>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <h6>Some More Text</h6>
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
                </div>


            </div>
            <div class="col-md-6">
                <div class="text">
                <h5>About Us</h5>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                
                </div>
            </div>
        </div>

        


          <section class="section-about">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="about-img-box">
                    <img src="assets/images/slide-about-1.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="sinse-box">
                    <h3 class="sinse-title">GreenEchoo
                      <span></span>
                      <br> Sinse 0000</h3>
                    <p>Some Text</p>
                  </div>
                </div>
                <div class="col-md-12 section-t8">
                  <div class="row">
                    <div class="col-md-6 col-lg-5">
                      <img src="assets/images/about-2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2  d-none d-lg-block">
                      <div class="title-vertical d-flex justify-content-start">
                        <span>GreenEchoo Exclusive Property</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                      <div class="title-box-d">
                        <h3 class="title-d">Some
                          <span class="color-d">greenechoo</span> text
                          <br> nibh.</h3>
                      </div>
                      <p class="color-text-a">
                       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio architecto quam corporis eligendi vitae dolorem vero 
                       enim aut? Nostrum doloribus perferendis molestias quas quibusdam, consequuntur nihil officiis hic quaerat quia.
                      </p>
                      <p class="color-text-a">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores ut nam rem perspiciatis maxime ducimus velit 
                        quidem perferendis consequuntur accusantium. Reprehenderit, soluta consequatur. Repudiandae, beatae! Neque quisquam animi a ipsam?
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <hr>
        <div>
            <h4 class="text">We Work on This..</h4>
            <div class="row py-3">
                <div class="col-md-3">

                    <img src="assets/images/smart.jpg" width="250" height="200">
                </div>
                <div class="col-md-3">
                    <img src="assets/images/snow.jpg" width="250" height="200">
                </div>
                <div class="col-md-3">
                    <img src="assets/images/green.jpg" width="250" height="200">
                </div>
                <div class="col-md-3">
                    <img src="assets/images/plant.jpg" width="250" height="200">
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-4">
                 <div class="card" style="width:350px">
                        <img class="card-img-top" src="assets/images/smart.jpg" alt="Card image" style="width:100%;height: 250px;">
                        <div class="card-body">
                              <h4 class="card-title">Mannvir Singh Khanuja</h4>
                              <a href="#">
                                        <i class="fa fa-phone fa-rotate-90 mr-2"></i>
                                        <span class="text-dark">+91-7566123489</span>
                                </a> 
                              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card" style="width:350px">
                        <img class="card-img-top" src="assets/images/snow.jpg" alt="Card image" style="width:100%;height: 250px;">
                        <div class="card-body">
                              <h4 class="card-title">Raj Narayan Raghuwanshi</h4>
                              <a href="#">
                                        <i class="fa fa-phone fa-rotate-90 mr-2"></i>
                                        <span class="text-dark">+91-7999574775</span>
                                </a> 
                              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card" style="width:350px">
                        <img class="card-img-top" src="assets/images/snowfall.jpg" alt="Card image" style="width:100%;height: 250px;">
                        <div class="card-body">
                              <h4 class="card-title">Shankar Singh Solanki</h4>
                              <a href="#">
                                        <i class="fa fa-phone fa-rotate-90 mr-2"></i>
                                        <span class="text-dark">+91-9926415318</span>
                                </a> 
                              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- new template effort -->
  <!--/ Team Star /-->
  <!-- <section class="section-agents section-t8"> -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Meet Our Team</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="assets/images/agent-7.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">Mannvir Singh 
                      <br> Khanuja</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong>+91-7566123489</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="assets/images/agent-6.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">Raj Narayan 
                      <br> Raghuwanshi</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong>+91-7999574775</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="assets/images/agent-5.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">Shankar Singh 
                      <br> Solanki</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong>+91-9926415318
                </p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </section> -->