<div class="page_heading bg-primary text-center py-1">
    <h1 class="text-white">Contact</h1>
</div>

<!-- Page Content -->
<div class="content px-4 py-5">
    <!-- card start from here -->
     <div class="card bg-light  border-0 card bx_shw2 move_up_100 mx-auto pdng_40 pdng_l_30 pdng_r_30 mrg_b_40 w-100">
          <div class="card-body ">
    <div class="container-fluid">
         <div class="row">
             <div class="col-12 col-sm-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29447.715233378898!2d75.86906201591155!3d22.6923689866761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fca55c062183%3A0x5a90f903ed16a2e9!2sNRK%20Vishal%20Green%20View%20building!5e0!3m2!1sen!2sin!4v1572435553369!5m2!1sen!2sin" width="446" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

             </div>
             <div class="col-12 col-sm-4">
                     <h3 class="contact_heading mrg_b_20 text-primary">Write to Us:</h3>
                         <form class="contact_form">
                             <div class="form_in form-group ">
                                 <!-- <label class="text-black d-none">Name<span class="text-danger">*</span></label> -->
                                     <span class="c_spans text-danger float-right">*</span>
                                         <input type="text" name="name" class="form-control pl-0" id="name" placeholder=" Name" autocomplete="off" required="" value="">
                             </div>

                             <div class="form_in form-group">
                                 <span class="c_spans text-danger float-right">*</span>
                                     <input type="email" name="email" class="form-control pl-0" id="username" placeholder=" Email" autocomplete="off" required="" value="">
                                         <span class="c_spans text-danger float-right">*</span>
                                             <input type="text" name="phone" class="form-control pl-0" id="number" placeholder=" Contact Number" autocomplete="off" required="" href="http://test.com" value="">
                             </div>
                             <div class="form_in form-group">
                                     <span class="c_spans text-danger float-right">*</span>
                                         <textarea placeholder=" Message" name="message" class="form-control pl-0" rows="5" id="message" required="" href="http://test.com">
                                         </textarea>
                             </div>
                             <div class="btn_wr">
                                 <button type="submit" class="btn text-uppercase text-white float-right agent_btn_cancel">submit</button>
                             </div>
                         </form>
                 <!-- </div> -->
                 

             </div>
             <div class="col-12 col-sm-4">
                 
                 <!-- contact details -->
                 <h3 class="contact_heading mrg_b_20 text-primary">Contacts:</h3>
                     <ul class="list-group list-group-flush contact_listing">
                         <li class="list-group-item px-0 border-top-0">Mannvir Singh Khanuja: 
                             <span class="float-right lis_res">+91-7566123489</span>
                         </li>
                         <li class="list-group-item px-0 border-top-0">Raj Narayan Raghuwanshi: 
                             <span class="float-right lis_res">+91-7999574775</span>
                         </li>
                         <li class="list-group-item px-0 border-top-0 ">Shankar Singh Solanki: 
                             <span class="float-right lis_res">+91-9926415318</span>
                         </li>
                     
                    </ul> 	<br>

                 <div class="pdng_t_30">
                     <h3 class="contact_heading mrg_b_20 text-primary">Address:</h3>
                         <p class="text-dark"> <i class="fas fa-map-marker-alt text-primary mr-2"></i>501, NRK Vishal Green View,Limbodi, Indore, Madhya Pradesh - 452020</p>
                             <div class="text-primary">
                                 <a href="#"><i class="fas fa-globe mr-2"></i><span class="text-dark">www.greenechoo.com</span>
                                 </a> &nbsp;&nbsp;&nbsp;&nbsp; | 
                                 <a href="#"><span class="text-dark">greenechoo@yahoo.com</span>
                                 </a> <br>
                                 <a href="#"><i class="fas fa-envelope mr-2"></i><span class="text-dark">greenechoo@yahoo.com</span></a> | 
                                 <a href="#"><span class="text-dark">smart-tree@yahoo.com</span>
                                 </a>

                             </div>
                     
                 </div>

             </div>

             
         </div>
    </div>

</div>
</div>

    <!-- card end here -->
</div>
